
body {
    background: #ffffff;
}

.heading h1 {
    color: rgb(0, 0, 0);
}

.d-grid gap-2 .btn-light {
    text-align: left !important;
    padding: 10px 15px 10px 30px;
}
.button.btn.btn-light {
    width: 100%;
    margin: 15px 0px;
    
}
li.ques {
    text-align: left !important;
} 

li.ques a{
    color: black;
} 
.card {
    background: none;
    border: none;
    }
    .card-body {
    color: rgb(240, 13, 13);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    text-align: center;
    }